.banner {
  color: white;
  text-align: center;
  background-size: cover !important;
  display: flex;
  height: 100vh;
  align-items: center;
  padding: 10px;
  padding-top: 80px;
}
.home-form {
  margin-top: 100px;
  display: flex;
  align-items: center;
  text-align: center;
}

.banner h1 {
  color: white;
  font-size: 180px;
  font-weight: 900;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins';
}

.banner h2 {
  font-size: 40px;
  font-bold: regular;
  font-family: 'Poppins';
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: white;
  margin: 0px 0px;
}

.banner h3 {
  font-size: 30px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: white;
  font-family: 'Poppins';
  text-aligns: center;
}

.banner h4 {
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: white;
}

.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
}

.banner-content {
  width: 100%;
}

.form-inputs {
  color: black;
  align-items: center;
  display: flex;
  height: 70px;
}
// .input-border {
//   margin: 5px;
//   border: 1px black;
//   border-bottom: 5px !important;
//   box-shadow: 5px !important;
//   border-bottom-color: red !important;
// }
.btn-go-home {
  font-size: 30px;
  font-weight: bold;
  width: 150px;
  background-color: $red;
  color: white;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
}
.btn-go {
  font-size: 30px;
  font-weight: bold;
  width: 300px;
  background-color: rgb(195, 65, 59);
  color: white;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
}

.btn {
  margin-bottom: 30px;
  flex: 0 0 auto;
  width: 380px;
  background-color: rgb(195, 65, 59);
  color: white !important;
  border-radius: 4px;
  margin-right: 5px;
  height: 40px;
  border: none;
  text-decoration: none;
}
.drop {
  flex: 0 0 auto;
  width: 190px;
  background-color: white;
  color: rgb(195, 65, 59);
  border-radius: 4px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.search-address {
  flex: 0 1 400px;
  background-color: white;
  color: darkslategray;
  border-radius: 2px;
  margin-right: 10px;
  padding-left: 15px;
  height: 60px;
  width: 100px;
}



