<div class="container-dashboard">
  <div class="dashboard-title"> <strong><span>Ma liste de courses (<%= current_user.find_voted_items.count %>)</span></strong></div>
    <div class="card-container-dashboard">
    <% current_user.find_voted_items.each do |race| %>
      <%= render "races/card", race: race %>
    <% end %>
  </div>
</div>


