<div class="container-dashboard">
    <div class="dashboard-title"> <strong><span>Ma liste de courses</span></strong></div>
      <div class="card-container-dashboard">
      <% @incoming_wishlist.each do |race| %>
          <%= render "races/card", race: race %>
      <% end %>
    </div>
    <div class="dashboard-title"> <strong><span>Mon historique de courses</span></strong></div>
      <div class="card-container-dashboard">
      <% @past_wishlist.each do |race| %>
          <%= render "races/card", race: race %>
      <% end %>
    </div>
</div>


