<div class="container">
  <span class="dashboard-title"> Ma liste de courses </span>
  <span class="dashboard-subtitle"> Mes courses (<%= current_user.find_voted_items.count %>) </span>
  <div class="card-container">
    <% current_user.find_voted_items.each do |race| %>
      <%= render "races/card", race: race %>
    <% end %>
  </div>
</div>

