<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://acm-sport.com/wp-content/uploads/2017/05/picture1-ok-.jpg');">
  <div class="banner-content">
    <h1>Endurace</h1>
    <p>Find your next race</p>

    <form action="/races" method="get" class="searchbar">
      <!-- <div class="searchbar"> -->
        <i class="fas fa-map-marker-alt"></i>
        <select name="sport" class="search-criteria">
          <option value="" disabled selected hidden>Ton sport</option>
          <option value="">-- any --</option>
          <option value="course">Course à pied</option>
          <option value="Triathlon">Triathlon</option>
          <option value="cyclisme">Cyclisme</option>
        </select>
        <input type="text" id="address" name="address" placeholder="Un lieu de course" class="search-address autocomplete">
        <select name="range" class="search-criteria">
          <option value="" disabled selected hidden>Prêt à me déplacer de</option>
          <option value=20>-- any --</option>
          <option value=20>20 km max</option>
          <option value=50>50 km max</option>
          <option value=500>500 km max</option>
        </select>
        <select name="format" class="search-criteria">
          <option value="" disabled selected hidden>Format de la course</option>
          <option value="">-- any --</option>
          <option value="Triathlon Courte Distance">Triathlon Courte Distance</option>
          <option value="Triathlon Longue Distance">Triathlon Longue Distance</option>
          <option value="Triathlon Kids">Triathlon Kids</option>
        </select>
        <input type="submit" class="btn-searchbar">
      <!-- </div> -->
    </form>

    <div class="index-searchbar">
      <%= link_to "See all adds", races_path %>
    </div>
  </div>
</div>
