 .filters {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 10px;
  }

.well {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  margin: 20px;
  padding: 20px;
}

.plusdefiltre {
  margin-bottom: 30px;
  flex: 0 0 auto;
  width: 200px;
  background-color: #0B8457;
  color: white;
  border-radius: 4px;
  margin-right: 5px;
  height: 40px;
  border: none;
}

.collapse {
  width: 100%;
}

  .dropdown {
  padding: 0px 5px;
  }

 .index-container {
  // height: calc(100vh - 70px);
  // background-size: cover !important;
  display: flex;
  justify-content: space-around;
  // position: relative;

 }

.left-container {
  width: calc(60% - 1px);
  @media(max-width: 768px) {
    width: 100%;
  }
}
.card-container {
  display: flex;
  flex-wrap: wrap;
}
.card {
  color: black;
  width: 330px;
  text-decoration: none;
  text-decoration-line: none;
  background-color: white;
  margin-bottom: 15px;
  margin-top: 15px;
  box-shadow: 1px 2px 2px #d5d6d8;
  margin-right: 10px;
  position: relative;
  width: calc(33% - 10px);
  @media(max-width: 1200px) {
    width: calc(50% - 10px);
  }
  @media(max-width: 1050px) {
    width: calc(100% - 10px);
  }
}
.card-picture {
  // position: relative;
  height: 200px;
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-wishlist {
  color: rgba(200,200,200,0.6);
  background-color: rgba(200,200,200 ,0.4);
  padding-top: 2px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: white;
  text-align: center;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  svg:hover {
  height: 30px;
  width: 30px;
  }
  a {
  color: #C0413D;
  }
}


.card-name {
  // position: absolute;
  color: white;
  font-size: 16px;
  // padding-top: 120px;
  // padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.card-location {
  // position: absolute;
  // padding-top: 140px;
  // padding-left: 20px;

}

.card-format {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0px 3px;
}

.card-available_slots {
  padding-left: 150px;
  padding-top: 10px;
}

.card-description {
  background-color: white;
  background-position: left;
  text-align: center;
  font-size: 16px;
}

.card-price {
  padding: 20px;
  color: #C0413D;
  text-align: right;
}

.card-title {
  right: 10px;
  top: 10px;
  font-size: 25px;
  margin-top: 5px;
}

.card-user {
  font-size: 12px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

