.dashboard-title {
  font-size: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 0px;

}

.dashboard-subtitle {
  font-size: 24px;
}

.card-container-dashboard {
  margin-top: 50px;
  border-top: 0.5px solid #CBCBCB;
  display: flex;
  flex-wrap: wrap;

}
