.selectric {
  height: 50px;
  width: 200px;
}

.selectric .label {
    display: flex;
    text-align: center;
    color: black;
    font-family: 'Popins';
    font-weight: regular;
    font-size: 20px;
}
