body {
  background-color: white;
}

.banner-show {
  height: calc(80vh - 70px);
  background-size: cover !important;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  // position: relative;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 80px;
  padding-top: 20px;
}

.banner-show-top {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.banner-show-bottom {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.banner-show-title-box {
  display: flex;
  flex-direction: column;
  background: rgba(0,0,0,.6);
  // min-height: 100px;
  color: rgba(255, 255, 255, 1);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 5%;
  margin-right: 10%;
  // position: absolute;
  // bottom: 80px;
  h1 {
    font-size: 50px;
    font-weight: 800;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 24px;
    color: rgb(195, 65, 59);
    font-weight: 800;
    margin-top: 5px;
  }
}

.banner-show-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.show-avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: -10px;
  margin-bottom: 5px;
}

.show-avatar-text {
  margin-left: 5px;
  padding-top: 10px;
}

.no-underline-link {
  text-decoration: none !important;
}

.show-friends {
  display: flex;
  align-items: center;
  text-align: right;
}

.color-link1 {
  &:hover {
    font-weight: 900;
    color: white;
  }
}

.color-link2 {
  &:hover {
    font-weight: 900;
  }
}

.dont-wrap {
  white-space:nowrap;
}

.banner-show-btn-container {
  display: flex;
  flex-wrap: wrap;
  // position: absolute;
  // top: 50px;
  // right: 50px;
  color: rgba(255, 255, 255, 1);
}

.banner-show-btn1 {
  background-color: rgba(255, 255, 255, 0.6);
  border-color: rgb(195, 65, 59);
  border-style: solid;
  border-width: 1px;
  text-align: center;
  font-size: 18px;
  padding: 5px 5px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 5px;
  // flex: 0 0 300px;
  width: 150px;
  color: rgb(195, 65, 59);
  p {
    margin-bottom: 0px;
  }
}

.banner-show-btn1:hover {
  background-color: rgba(175, 45, 39, 0.8);
  color: white;
  font-weight: 900;
}

.banner-show-btn2 {
  background-color: rgb(145, 15, 9);
  border-color: rgb(145, 15, 9);
  border-style: solid;
  border-width: 2px;
  text-align: center;
  font-size: 18px;
  padding: 5px 5px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 5px;
  // flex: 0 0 300px;
  width: 300px;
  color: white;
  p {
    margin-bottom: 0px;
  }
}

.banner-show-btn2:hover {
  background-color: rgb(95, 15, 9);
  font-weight: 900;
}

.container-show {
 padding: 0px 40px;
 h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
    font-weight: 600;
    color: rgb(195, 65, 59)
  }
  p {
    font-size: 14px;
  }
}

.section-container {
  margin-top: 20px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: gray;
}

.column-container{
  a {
    font-size: 14px;
  }
}

.metrics-container {
  display: flex;
}

.metrics-logo-container {
  flex: 0 0 auto;
  margin-right: 10px;
  text-align: center;
  height: 80px;
  width: 100px;
  line-height: 8px;
  font-size:14px;
}

.metrics-logo {
  background-color: gray;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.map-show-container {
}

#map-pic {
  width: 100%;
}

.topo-show-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

#topo-pic {
  width: 100%;
}

.topo-sport-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.show-banner-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.show-banner-votes {
  text-align: right;
  color: rgba(150,150,150,0.9)
}
