body {
  background-color: white;
}

.banner-show {
  position: relative;
  height: calc(80vh - 70px);
  background-size: cover !important;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  // position: relative;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 80px;
  padding-top: 20px;
}

.banner-show-top {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.banner-show-bottom {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.banner-show-title-box {
  position: absolute;
  flex-direction: column;
  display: flex;
  box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.2);
  background: white;
  color: black;
  bottom: -150px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 5%;
  margin-right: 10%;
  min-width: 60%;
  z-index: 2000;
  // position: absolute;
  // bottom: 80px;
  h1 {
    margin-bottom: 25px;
    font-size: 32px;
    font-weight: 800;
  }
  h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
  }
  h3 {
    font-size: 24px;
    color: $red;
    font-weight: 800;
  }
}

.banner-show-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.show-avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: -10px;
  margin-bottom: 5px;
}

.show-avatar-text {
  margin-left: 5px;
  padding-top: 10px;
}

.no-underline-link {
  text-decoration: none !important;
}

.show-friends {
  display: flex;
  align-items: center;
  text-align: right;
  padding-left: 10px;
}

.color-link1 {
  &:hover {
    font-weight: 900;
    color: white;
  }
}

.color-link2 {
  &:hover {
    font-weight: 900;
  }
}

.dont-wrap {
  white-space:nowrap;
}

.banner-show-btn-container {
  display: flex;
  flex-wrap: wrap;
  // position: absolute;
  // top: 50px;
  // right: 50px;
  color: rgba(255, 255, 255, 1);
  height: 55px;
}

.banner-show-btn1 {
  background-color: rgba(255, 255, 255, 0.6);
  border-color: $red;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  font-size: 16px;
  padding: 5px 5px;
  margin-right: 10px;
  border-radius: 5px;
  // flex: 0 0 300px;
  width: 150px;
  height: 100%;
  color: $red;
  p {
    margin-bottom: 0px;
  }
}

.banner-show-btn1:hover {
  background-color: $red;
  color: white;
  font-weight: 700;
}

.banner-show-btn2 {
  background-color: $red;
  border-color: $red;
  border-style: solid;
  border-width: 2px;
  text-align: center;
  font-size: 16px;
  padding: 5px 5px;
  margin-right: 10px;
  border-radius: 5px;
  // flex: 0 0 300px;
  width: 300px;
  height: 100%;
  color: white;
  p {
    margin-bottom: 0px;
  }
}

.banner-show-btn2:hover {
  background-color: rgb(216, 31, 16);
  font-weight: 900;
}

.container-show {
 padding: 0px 60px;
 // padding-left: 5%;
 // padding-right: 5%;
 h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 12.5px;
    color: $red;
  }
  p {
    font-size: 14px;
  }
}

.section-container {
  margin-top: 20px;
  // border-top-style: solid;
  // border-top-width: 1px;
  // border-top-color: gray;
}

.column-container{
  padding-top: 200px;
  margin: 0px 20px;
  a {
    font-size: 14px;
  }
}

.column-container-map{
  padding-top: 40px;
  a {
    font-size: 14px;
  }
}

.metrics-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px 0px 0px;
  // padding: 0px 90px 0px 90px;
}

.metrics-logo-container {
  flex: 0 0 auto;
  margin-right: 10px;
  text-align: center;
  height: 80px;
  width: 100px;
  line-height: 8px;
  font-size: 14px;
}

.metrics-logo {
  margin-bottom: 10px;
}

.map-show-container {
}

#map-pic {
  width: 100%;
}

.topo-show-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

#topo-pic {
  width: 100%;
}

.topo-sport-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
  margin-right: 10px;
}

.show-banner-top {
  display: flex;
  justify-content: space-between;
}

.show-banner-votes {
  text-align: right;
  color: rgba(150,150,150,0.9)
}

.description-show {
  text-align: justify;

}

.show-form-reviews {
  margin-bottom: 40px;
}
.show-friends {
  padding-bottom: 15px;
}
