body {
  background-color: white;
}

.banner-show {
  height: calc(80vh - 70px);
  background-size: cover !important;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  position: relative;
  padding-bottom: 80px;
}

.banner-show-title-box {
  background: rgba(0,0,0,.6);
  min-height: 100px;
  color: rgba(255, 255, 255, 1);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 5%;
  margin-right: 10%;
  h1 {
    font-size: 54px;
    font-weight: 800;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
    color: rgb(195, 65, 59);
    font-weight: 800;
    margin-top: 5px;
  }
}

.banner-show-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.show-avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: -10px;
}

.show-avatar-text {
  margin-left: 5px;
  padding-top: 10px;
}

.no-underline-link {
  text-decoration: none !important;
}

.show-friends {
  display: flex;
  align-items: center;
  text-align: right;
}

.color-link {
  color: white;
  &:hover {
    color: black !important;
  }
}

.dont-wrap {
  white-space:nowrap;
}

.banner-show-btn-container {
  display: flex;
  align-items: center;
  // position: absolute;
  position: sticky !important;
  top: 0 !important;
  right: 50px;
  color: rgba(255, 255, 255, 1);
}

.banner-show-btn1 {
  background-color: rgb(195, 65, 59);
  text-align: center;
  font-size: 14px;
  padding: 5px 5px;
  margin-right: 10px;
  border-radius: 5px;
  // flex: 0 0 150px;
  width: 150px;
  color: white;
  p {
    margin-bottom: 0px;
  }
}
.banner-show-btn1:hover {
  background-color: rgb(145, 15, 9);
}

.banner-show-btn2 {
  background-color: rgb(145, 15, 9);
  text-align: center;
  font-size: 14px;
  font-weight: 900;
  padding: 5px 5px;
  margin-right: 10px;
  border-radius: 5px;
  // flex: 0 0 300px;
  width: 300px;
  color: white;
  p {
    margin-bottom: 0px;
  }
}

.banner-show-btn2:hover {
  background-color: rgb(95, 15, 9);
}

.container-show {
 padding: 0px 40px;
 h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
    font-weight: 600;
    color: rgb(195, 65, 59)
  }
  p {
    font-size: 14px;
  }
}

.section-container {
  margin-top: 20px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: gray;
}

.column-container{
  a {
    font-size: 14px;
  }
}

.metrics-container {
  display: flex;
}

.metrics-logo-container {
  flex: 0 0 auto;
  margin-right: 10px;
  text-align: center;
  height: 60px;
  width: 60px;
}

.map-show-container {
}

#map-pic {
  width: 100%;
}

.topo-show-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

#topo-pic {
  width: 100%;
}

.topo-sport-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}


