.tabs {
  background: white;
  display: flex;
  padding: 10px 10px 0 10px;
}
.tabs a {
  color: white;
  border-style: solid;
  border-width: 1.5px;
  border-color: #C0413D;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 2.5px;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  background: #C0413D;
  flex: 0 0 33.3333%;
  text-align: center;
  padding: 10px 0;
}
.tab:first-child {
  border-radius: 5px 0 0 0;
}
.tab:last-child {
  border-radius: 0 5px 0 0;
}
.tab.active {
  background: white;
  color: #C0413D;
}

.topo-sport-container {
  .active {
    display: block!important;
  }
  & > div {
    display: none;
  }
}
