.container-sign-up {
  text-align: center;
  // left: 0;
  // top: 0;
  // right: 0;
  // bottom: 0;
}

.center_devise_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      color: white;
    }
}
